    <div class="row" id="ingredients">
      <h3>Ingredients</h3>
        <%= render 'anyingredients/add_any_ingredient' %>
        <table class="table table-hover">
          <thead>
          <tr>
            <td class="col-md-3"><strong>Ingredient</strong></td>
            <td class="col-md-3"></td>
            <td class="col-md-3"></td>
            <td class="col-md-3"></td>
          </tr>
          </thead>
            <tbody>
              <% @recipe.anyingredients.each do |anyingredient| %>
              <tr>
                <td class="col-md-3"><%=anyingredient.name %></td>
                <td class="col-md-3">
                    <div id="ing-<%=anyingredient.id %>" class="collapse">
                       <%= render 'anyingredients/edit_anyingredient',anyingredient:anyingredient %>
                    </div>
                  </td>
                  <td class="col-md-3">
                     <a class="btn btn-info btn-xs" 
                    role="button" data-toggle="collapse" href="#ing-<%=anyingredient.id %>" 
                    aria-expanded="false" aria-controls="collapseAnyIngredient"> Edit
                    </a>
                  </td>
                   <td class="col-md-3">
                  <%= render 'anyingredients/remove_anyingredient',anyingredient:anyingredient %>
                </td>
              </tr>
              <% end %>
          </tbody>
        </table>
    </div>

      <div class="row" id="directions">
        <h3>Directions</h3>
        <%= render 'directions/add_new_step' %>
        <table class="table table-hover">
          <thead>
            <tr>
              <td class="col-md-3"><strong>Step#</strong></td>
              <td class="col-md-3"></td>
              <td class="col-md-3"></td>
              <td class="col-md-3"></td>
            </tr>
          </thead>
          <tbody>
            <% @recipe.directions.each do |direction| %>
               <tr>
                <td class="col-md-3"><%= direction.step %> </td>
                <td class="col-md-3">
                  <div id="direction-<%=direction.id %>" class="collapse">
                       <%= render 'directions/edit_step',direction:direction %>
                  </div>
                </td>
                <td  class="col-md-3"><a class="btn btn-info btn-xs" 
                    role="button" 
                    data-toggle="collapse" 
                    href="#direction-<%=direction.id %>" 
                    aria-expanded="false" 
                    aria-controls="collapseAddDirection">Edit
                    </a>
                </td>
                <td class="col-md-3"><%= render 'directions/remove_step',direction:direction %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
        

              
                
              

            
      
             
                
           
       
      </div>