<div class="col col-md-9 col-sm-9 col-lg-9 theProducts">
  <% @products.each do |product| %>
    <div class="col col-md-4 col-sm-4 col-lg-4">
      <h3><%= product.title %></h3>
      <% if product.productimg.attached? %>
            <!-- product.image.present? will always return true, use attached? to check presence -->
        <p><%= image_tag product.productimg, class: "img-thumbnail" %></p>
      <% end %>

      <p><%= product.description.truncate(250) %></p>
      <p><strong><%= number_to_currency(product.price , unit: "€")%></strong> per gram</p>
      
      <p><%= link_to 'Read More', product %></p>

      <% if current_user && current_user.admin %>
        <p>
          <span><%= link_to 'Edit', edit_product_path(product) %></span> | 
          <span><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></span> | 
          <span><%= link_to 'New Product', new_product_path %></span>
        </p>
      <% end %>
  
      <%= render 'add_to_cart', product:product %>  
    </div> 
  <% end %>
</div>sssssss