<!DOCTYPE html>
<html>
  <head>
    <title>Spicy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar ">
      <div class="container">
        <div class="navbar-brand">
          <p><%= link_to "Spiceworld", root_path %></p>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "New Recipe", new_recipe_path %></li>
              <% if user_signed_in? %>
                <li><p><%= current_user.email %>|<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></p></li>
              <% else %>
                <li><%= link_to 'Register', new_user_registration_path %> </li><li><%= link_to 'Sign in', new_user_session_path %><li>
              <% end %>
       
      
           
            <li><%= link_to "cart #{@cart.cart_total}", cart_path(@cart) %></li>
            
          </ul>
      </div>
    </nav>
    <div class="container">

    <%# categories sidebar -will need to be conditional %>
    
        <div class="col col-md-3 col-sm-3 col-lg-3" id="getcontent" >
            <h2>Categories</h2>
            <% @all_categories.each do |category|%>
                <%# category_products_path because of nested routes %>
                    <h4 id="<%= category.id%>"><%= category.title%> (<%= category.products.count%>)</h4>
            <% end %>


            <h2>Categories Rails</h2>
            <% @all_categories.each do |category| %>
                        <%= form_tag filter_products_path do %>
                  <%= hidden_field_tag :category_id, category.id %>
                
                 
                  <%= submit_tag "#{category.title}(#{category.products.count})" , class: "btn btn-secondary btn-sm" %>
                <% end %>
             
            <% end %>
        </div><%# end categories sidebar %>

        
   
    

          
      <%= yield %>
    <div class="row">
      <% if user_signed_in? %>
        <div>Signed in as... <%= current_user.email %> (<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>)</div>
      <% else %>
        <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
      <% end %>
      <%= render 'layouts/alerts' %>
    </div><!-- end row -->
    </div>
  </body>
</html>
