<!DOCTYPE html>
<html>
  <head>
    <title>Spicy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-brand">
          <p><%= link_to "Spiceworld", root_path %></p>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "New Recipe", new_recipe_path %></li>
            <li><%= link_to "Sign in", root_path %></li>
            <%= @cart %>
            <li><%= link_to "cart #{@cart.cart_total}", cart_path(@cart) %></li>
            
          </ul>
      </div>
    </nav>
    <div class="container">

    <%# categories sidebar -will need to be conditional %>
        <div class="row">
          <div class="col col-md-3" id="getcontent" >
            <h2>Categories</h2>
            <% @all_categories.each do |category|%>
                <%# category_products_path because of nested routes %>
                <%= category.id%>
                    <h4 id="<%= category.id%>"><%= category.title%> (<%= category.products.count%>)</h4>
                
            <% end %>
          </div><%# end categories sidebar %>

          
    <%= yield %>

      <% if user_signed_in? %>
        <div>Signed in as... <%= current_user.email %> (<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>)</div>
      <% else %>
        <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
      <% end %>

    <p class="notice"><%= notice %></p>
    <p class="notice"><%= alert %></p>
    </div>
  </body>
</html>
